{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
  <div class="d-flex justify-content-center align-items-center vh-100">
      <a href="{{ url_for('main.logout') }}" class="btn btn-danger btn-lg">Выйти из аккаунта</a>
  </div>
{% else %}
      <a href="{{ url_for('main.login') }}" class="btn btn-primary btn-lg">Войти в систему</a>
{% endif %}

{% endblock %}