{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/level.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">

<div class="d-flex align-items-center gap-3 mb-3">
    <a href="{{ url_for('main.index') }}" class="btn btn-outline-secondary">
        Назад
    </a>
    <h2 class="mb-0">{{ level.title }}</h2>
</div>

<p>{{ level.description|safe }}</p>

<form method="POST" action="{{ url_for('main.submit_solution', level_id=level.id) }}">
    <div class="mb-2">
        <textarea id="code-area" name="code" class="form-control" rows="12" placeholder="{{ level.starter_code }}"></textarea>
    </div>

    {% if error %}
    <div id="error-box" class="alert alert-danger mt-3">
        <h5>Error Details:</h5>
        {% if error["type"] == "wrong_answer" %}
            <h3>Wrong Answer!</h3>
        {% elif error["type"] == "runtime_error" %}
            <h3>Runtime Error!</h3>
        {% endif %}
        {% for key in error %}
            {% if key == "test" %}
                <h6>Test Failed (Number): {{ error[key] }}</h6>
            {% elif key == "input" %}
                <h6>Input Failed: {{ error[key] }}</h6>
            {% elif key == "message" %}
                <h6>Message: {{ error[key] }}</h6>
            {% elif key == "expected" %}
                <h6>Expected: {{ error[key] }}</h6>
            {% elif key == "got" %}
                <h6>Got: {{ error[key] }}</h6>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <button class="btn btn-success mt-3">Submit Solution</button>
</form>

</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const ta = document.getElementById('code-area');

  ta.addEventListener('keydown', (e) => {
    if (e.key === 'Tab') {
      e.preventDefault();
      const start = ta.selectionStart;
      ta.value = ta.value.substring(0, start) + '    ' + ta.value.substring(ta.selectionEnd);
      ta.selectionStart = ta.selectionEnd = start + 4;
    }

    if (e.key === 'Enter') {
      e.preventDefault();
      const pos = ta.selectionStart;
      const before = ta.value.substring(0, pos);
      const lineStart = before.lastIndexOf('\n') + 1;
      const currentLine = before.substring(lineStart);
      const indent = currentLine.match(/^\s*/)[0];
      const trimmed = currentLine.trim();
      const newIndent = trimmed.endsWith(':') ? indent + '    ' : indent;
      ta.value = ta.value.substring(0, pos) + '\n' + newIndent + ta.value.substring(pos);
      ta.selectionStart = ta.selectionEnd = pos + 1 + newIndent.length;
    }
  });
});
</script>
{% endblock %}