{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

<div class="auth-card">

    <h1 class="logo">CodeQuest</h1>
    <h2>Create Account</h2>

    {% if message %}
        <div class="error-box">
            {{ message }}
        </div>
    {% endif %}

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="Username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
        >

        <input
            type="password"
            name="password_repeat"
            placeholder="Repeat password"
            required
        >

        <button type="submit">Register</button>

    </form>

    <p class="switch">
        Already registered?
        <a href="{{ url_for('main.login') }}">Login</a>
    </p>

</div>

{% endblock %}